.pypirc
CAP_MAR.*
working
bayes_practice
*.windows
.nfs*
*working
*.h5
*.sync
*.csv
*.out
*.pyc
*.e*
*.o*
48-AnoMars*
*.ipynb
*.fa
*dadi.txt
*.fstats.txt
*.png
*snps*:
build
/dist/
tmp/*
RAxML_*
*.csv
